#nav {
  height: 50px;
  width: auto;
  background-color: red;
}
ul li {
  display: inline-block;
  justify-content: space-between;
}
table {
  font-family: arial, sans-serif;

  width: 50%;
}

td,
th {
  border: 2px solid white;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: cornflowerblue;
}
@keyframes grow {
  from {
    font-size: 20px;
  }
  to {
    font-size: 50px;
  }
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: aliceblue;
  animation-name: grow;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 2px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
